<div class="app">
  <nav class="navbar navbar-default">
    <div class="container-fluid container">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a class="navbar-brand" href="#">Razer Cars</a>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">All Manufacturers</a></li>
          <li><a href="#">Add Manufacturer</a></li>
          <li></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title custom__font-size">Hello</h1>
      </div>
      <div class="panel-body">
        <h3>Welcome to Razer Cars!</h3>
        <h5>Your one stop shop for all your car stats needs!</h5>
        <button type="button" class="btn btn-default">See All Manufacturers</button>
      </div>
    </div>
  </div>
</div>

{{outlet}}
